---
layout: default
---

<section class="home-hero">
  <div class="home-branding">
    <img src="{{ '/assets/images/uwm-logo.svg' | relative_url }}" alt="University of Wisconsin–Milwaukee Logo" class="uwm-logo">
    <h1>{{ site.title }}</h1>
    <p class="tagline">{{ site.description }}</p>
    <a href="{{ site.lessons | sort: 'position' | first.permalink | relative_url }}" class="button start-button">Launch Lessons</a>
  </div>
</section>

<section class="lesson-listing">
  <h2>Workshop Lessons</h2>
  <ol class="lesson-links">
    {% assign sorted_lessons = site.lessons | sort: "position" %}
    {% for lesson in sorted_lessons %}
      <li>
        <a href="{{ lesson.permalink | relative_url }}">{{ lesson.title }}</a>
      </li>
    {% endfor %}
  </ol>
</section>
